.service
{
	width: 155px;
	text-align:center;	
    float: none;
    display: inline-block;
	cursor:pointer;
	margin-bottom: 21px;
}
.service h6
{
			padding:0px;
	margin:0px;
	margin-top: 7px;
}
span.location {
    margin-left: 19px;
}
.contact-detail
{
	margin-top:5px;
}
.coupon-detail-page
{
	margin-top:5px;
}
.offer-desc
{
	padding: 0px;
    margin: 0px;
    font-size: large;

}
.offer-code
{
	padding: 0px;
    margin: 0px;
    font-size: x-large;
    margin-top: -12px;
    color: #B28324;
}
.contact-detail span
{
	padding:5px;
}
.margin-medium
{
	margin-bottom:22px;
}
.service-item
{
    
    border: 2px solid #ffda44;
    box-shadow: 0px 2px 2px 2px rgba(132, 132, 132, 0.12);
    border-radius: 100%;
    padding: 18px;
}
.service-item:hover
{
	box-shadow: 0px 2px 9px 2px rgba(66, 64, 64, 0.19);
	
}
.service-item img
{
	padding: 13px;
	-webkit-transition: all 1.3s ease-in-out;
	-moz-transition:    all 1.3s ease-in-out;
	-o-transition:      all 1.3s ease-in-out;
	-ms-transition:     all 1.3s ease-in-out;
}
.service-item img:hover
{
	
	-webkit-transform: rotate(360deg);
	-moz-transform:    rotate(360deg);
	-o-transform:      rotate(360deg);
	-ms-transform:     rotate(360deg);
}
.services-list
{
	
}
.main-service-div
{
	    display: inline-block;
}
.main-service
{
padding:0px;
margin:0px;
}

.main-service li h6
{
		padding:0px;
	margin:0px;
	margin-top: 7px;
}
.main-service li .service
{
	    margin-bottom:0px;
}
.main-service li
{
	float:left;
	list-style: none;
	margin-top: 0px !important;
	padding:0px;
margin:0px;
margin-right: 15px;
}
header #logo {
    max-width: 100%;
    z-index: 36;
    padding-top: 14px;
    padding-bottom: 0px;
    height: 100px;
    transition: all 0.4s ease;
}
.how-work
{
	background-color: rgba(158, 158, 158, 0.18);
}
.work h5
{
	padding:0px;
	margin:0px;
	
}
.work-img
{
	height:100px;
	width:100px;
}

.work p
{
	margin-top:0px;
	color:white;
}
.work
{
	
    margin:29px;
    text-align: center;
	    float: none;
    display: inline-block;
}
.work-item
{
	margin-bottom: 12px;
}
.fullwidth-section .fullwidth-content {
    padding:50px 0;
}
.work-arrow
{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 17%;
    margin-left:54px;

}
#sr-demo-options
{
	display:none;
}
/* Search Box */
.search-box {
  position: relative;
  z-index: 4;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
    margin-top: 151px;  width: 100%;
  padding: 20px 20px 40px 20px;
}
.welcome-section
{
	width: auto!important;
    padding-bottom: 30px;
}
.heading b
{
	color:#b28324;
}
.heading
{}
.heading:after
{
background: url(../uploads/logo1.png)no-repeat center bottom;
        content: "";
    width: 100%;
    height: 184px;
    position: absolute;
    left: 0px;
    bottom: -52px;
    z-index: 999999;
    OPACITY: 0.1;
}
@media (min-width: 992px) {
  .search-box {
    position: absolute;
    left: 0;
    top:52%;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    margin-top: 0;
    padding: 0;
  }
}
.search-box .search-box-inner button.btn {
  padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    margin-top: 3px;
    padding-bottom: 10px;
}
.search-box .search-box-inner button.btn .fa {
  margin-right: 0;
}
.search-box h1 {
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 479px) {
  .search-box h1 {
    font-size: 18px;
    letter-spacing: none;
  }
}
@media (max-width: 767px) {
  .search-box h1 {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .search-box h1 {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    letter-spacing: .1em;
  }
}
.search-box .form-group {
  margin-bottom: 24px;
}
@media (min-width: 992px) {
  .search-box .form-group {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .search-box .form-group .form-control {
    border-color: #fff;
  }
}
.select-style {
  display: block;
  border: 1px solid #dfdfdf;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
.select-style:after {
  content: "\f0dd";
  display: block;
  position: absolute;
  right: 15px;
  top: 8px;
  font-family: 'FontAwesome';
  font-size: 14px;
  color: #8c8c8c;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.select-style select {
  padding: 5px 16px;
  height: 44px;
  width: 100%;
  border: none;
background-color: #fff !important;
color:#333 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-style select:focus {
  outline: none;
}
.search-box-inner
{
	text-align:center;
}
.search-box-inner h2
{
    margin-bottom: 23px;
}
input[type=text], input[type=password], input[type=email]
{
	padding: 5px 16px;
    height: 44px;
	color:#333 !important;
    width: 100%;
        border: 2px solid #e2dfdf;
    background-color:#fff !important;
    -webkit-appearance: none;
	font-weight: 400;
}

::-webkit-input-placeholder { color: #CCC; }
:-moz-placeholder { color: #CCC; }
::-moz-placeholder { color: #CCC; }
:-ms-input-placeholder { color: #CCC; }
#page-loader .loader-figure
{
	    border: 0px solid #b28324 !important;
}
#page-loader
{
    background: #f5f5f5;
}
.depend
{}
.depend b
{
	color: #fc7d00;
}

.custom-footer
{
	background: #333333 url(../uploads/footer.png) repeat top center !important;
}
a:focus, a:hover
{
	text-decoration:none;
}
header.small-header:not(.not-sticky):not(.header-style-vertical) nav#main-nav > ul > li > a
{
	padding-bottom: 43px !important;
}
.form-control
{
	    text-transform: capitalize !important;
}
.form-control:focus {
border-color: rgb(178, 131, 36);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(244, 67, 54, 0.33);
    box-shadow: inset 0 1px 1px rgb(178, 131, 36), 0 0 8px rgb(178, 131, 36);	

}
.btn-primary
{
    background-image:linear-gradient(to bottom,#b28324 0,#b28324 100%) !important;
	border:none !important; 
	}
.btn-primary:focus, .btn-primary:hover 
{
background-color: #f97a00 !important;
}
.small-link
{
	font-size:14px !important;
}
.signupicons
{
	font-size: 88px;
}
.choice-box
{
	display: inline-block;
    background-color: rgba(204, 204, 204, 0.28);
    padding: 36px;
    border-bottom: 4px solid #CCC;
    margin: 20px;
}
.choice-box-or
{
	display: inline-block;
	background-color: rgba(204, 204, 204, 0.28);
    padding:20px;
    margin: 20px;
	border-radius:100%;
	font-weight: 500;
    font-size: 17px;
    position: relative;
    bottom: 55px;
	border: 4px solid #CCC;
	
}
.container {
    padding-right: 32px !important;
}
.title-hading p
{
	margin-top:0px !important;
	color:#CCC;
}
.title-hading
{
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left:0px;
}
.title-hading h3
{
	
	color: #777676;
}
.form-control {
    text-transform: capitalize !important;
    font-family: 'Montserrat';
    font-weight: normal !important;
    font-size: 15px;
}
.small-header #logo
{

    padding-top: 7px !important; 	
}
.small-header #logo img
{
height: 49px !important;
    width: 170px !important;
    max-height: 100px;}




nav#main-nav ul li ul > li > a
{
	font-size: 13px !important;
	text-transform: capitalize !important;
}
nav#main-nav > ul > li > a
{
	font-size: 13px !important;
	text-transform: capitalize !important;
}
nav#main-nav ul li ul > li a:hover, nav#main-nav ul li ul > li.current-menu-item > a {
    color: #f97c02 !important;
}
nav#main-nav ul li > ul.submenu
{
	    width: 193px !important;
}
.profile-container
{

}
.profile-sidebar
{
}
.profile-title span
{
	font-size:13px;
	padding:0px;
	margin:0px;
	color:#333;
}
.profile-small-title h3
{
font-size: 16px !important;
    line-height: 17px !important;
    color: rgba(26, 26, 26, 0.53);
    padding: 0px !important;
    margin-top: 10px !important;
}
.profile-title h3
{
	font-size:18px;
	line-height: 8px !important;
	padding: 0px !important;
    margin-top:10px !important;
}
.profile-picture
{
    margin-bottom: 18px;
    box-shadow: 1px 2px 1px rgba(51, 51, 51, 0.6);
	width:100%;
}
.profile-body p i
{
	color:#333 !important;
}
.profile-body p
{
line-height: 0px !important;
    padding: 8px !important;
    margin: 5px !important;
    font-size: 14px;
    padding-top: 0px !important;
}
.profile-body
{
	padding:0px !important;
}
.edit-profile-btn
{
    text-align: center;
    margin-bottom:3px;
}
.panel-default>.panel-heading
{
	background-color: rgba(245, 245, 245, 0.12) !important;
    border-color: white !important;
}
.panel-default>.panel-heading
{
    background-image: linear-gradient(to bottom,rgba(245, 245, 245, 0.45) 0,rgba(232, 232, 232, 0.59) 100%);
}
.profile-services ul
{
	padding:0px !important;
	margin:0px !important;
}
.profile-services ul li
{
    width: 250px;
    margin: 0px !important;
    list-style: none;
    border: 1px solid rgba(204, 204, 204, 0.56);
    cursor: pointer;
    float: left;
    margin-left: 7px !important;
    margin-bottom: 10px !important;
	background-color:white;
}
.profile-services ul li:hover
{

	background-image: linear-gradient(to bottom,rgba(245, 245, 245, 0.45) 0,rgba(232, 232, 232, 0.59) 100%);
	-webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
}
.profile-services .profile-service-item{
        
    padding:4px;
    padding-left:10px;
}
.profile-services span
{
	font-size:12px;
}
.profile-services  h6
{
	margin-top:5px !important;
	margin-bottom:0px !important;
	font-size:15px !important;
}
.star-reviews i
{
	    color: #b28324;
}
.center {
    margin-top:50px;   
}
.service-popup
{
    width: 700px !important; 
	margin-top:90px;
}
.modal-header h4{
	    font-size: 22px;
}
.modal-header {
	padding-bottom: 5px;
	border:0px !important;
}

.modal-footer {
    	padding: 0;
	}
    
.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}
	
.modal-footer .btn-group:last-child > button {
	border-right: 0;
}
.modal-header .close {
    margin-top: -37px;
}
.service-popup-body
{
	padding:0px !important;
}
.tab-content
{
    padding: 15px;
}
.review-customer-comment p
{
	margin-top:0px !important;
}
.review-customer-comment h3
{
		font-size:17px;
		padding:0px !important;
		margin:0px !important;
}
.review-customer-image img
{
	    border-radius: 100%;
		height:60px;
		width:60px;
}
.review-customer-comment
{
	background-color:#f9f9f9;
    border-radius: 10px;
	padding:10px;
    position: relative;
    text-align: left;
}


.testimonials blockquote {
  position: relative;
  background: white;
  min-height: 150px;
  margin-top: 20px;
  margin-bottom: 100px;
  border: 1px solid #ecedf1;
}
.testimonials blockquote:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  border-top: 10px solid #ecedf1;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.testimonials blockquote:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -9px;
  border-top: 9px solid white;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.testimonials blockquote img {
  height: 50px;
  width: 50px;
  position: absolute;
  border: 1px solid #ecedf1;
  background: white;
  bottom: -65px;
  left: 50%;
  margin-left: -25px;
}

blockquote p.clients-words {
    font-size: 14px;
}
span.clients-name {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
font-size: 14px;
    padding: 0px !important;
    margin: 0px !important;
    margin-bottom: 4px !important;
    line-height: 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
}
.review-block-description{
	font-size:13px;
}
.star-reviews-customer i
{
    font-size: 20px;
    color: #b28324;
}
.customer-review-image
{
	    height:101px;
    width:100%;
}
.job_listing_discount
{
	font-size:15px !important;
}

.customer-review
{
	    padding: 14px;
    border-bottom: 1px solid #CCC;
}
.customer-review:hover
{
	background-color: rgba(101, 95, 95, 0.11);
	-webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
}
.thumb-overlay
{
	border-radius: 3px;
	border: 2px solid #CCC;
}
.profile-field
{
	height: 30px !important;
    padding: 5px 10px !important;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.profile-field-label
{
font-size: 12px;
    color: #797676;
}
.sr-button.button-1:hover {
    background:#b28324 !important;
    
}
.add-more-btn-services
{
float: right;
    font-size: 13px;
    line-height: 1;
	margin-top: -13px;
}
.banner-service
{
	
}
.banner-service ul
{
	margin:0px !important;
	padding:0px !important;
	text-align:center;
}
.banner-service ul li h4
{
	    font-size: 19px !important;
}
.banner-service ul li
{
	cursor:pointer;
	display:inline-block;
    position: relative;
	height:200px;
	width:200px;
	background-color: rgba(109, 91, 78, 0.63);
	list-style: none;
	margin-top:0px !important; 
	margin-left:40px;
}
.banner-service ul li img
{
	height:200px;
	width:200px;	
}
.banner-service ul li h4
{
	margin-top:0px !important;
	text-align: center;
}
.handyman-btn
{
	padding:60px;
	padding-left:0px;
}
.or-option
{
height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: rgba(234, 234, 234, 0.29);
    font-size: x-large;
    line-height: 2.5;
    border: 1px solid #e4e3e3;
    color: #333;
    text-align: center;
    margin: 10px;
    position: relative;
    left:81px;
}
.btn-width
{
	width:247px;
}
.filterable h3
{
	    font-size: 23px !important;
		float:left;
}
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
table
{
	     margin-top:0px !important;
}
.project-price
{
	width: 10%;
}
.project-end-time
{
	width: 20%;
	
}
.project-total-bids
{
	width: 10%;
}
.project-title
{
    width: 60%;
}
.table tr:hover
{
	background-color: rgba(0, 0, 0, 0.07);
	-webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
}
.table td 
{
	padding:20px !important;
}
.table p
{
	font-size: .875rem;
	margin:0px !important;
}
.project-h2
{
	padding:0px !important;
	margin:0px !important;
    overflow: hidden;
    margin-bottom:2px;
    color:rgba(26, 26, 26, 0.68);
    font-size: 1.1875rem;
    line-height: 1.47;
    font-weight: 700;

}
.price-row
{
font-size:22px;
text-align: center !important;
}
.end-row
{
	text-align: center !important;
}
.label-warning {
    background-color: rgba(178, 131, 36, 0.59);
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    
    background-color: #fb7c00;
    border-color: #cc6906;
}
.pagination>li>a, .pagination>li>span
{
	color: #fb7c00;
}
.table-responsive2 {
width:100%;
margin-bottom:15px;
overflow-x:auto;
overflow-y:hidden;
-webkit-overflow-scrolling:touch;
-ms-overflow-style:-ms-autohiding-scrollbar;
border:1px solid #ddd;
table-layout: fixed;
}
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}
.postjob h3
{
    font-size: 23px !important;
		
}
.zipbtn
{
	height:44px !important;
	    color: white;
    background: #b28324;
}
.zip-input
{
	background-image:url(../uploads/location.png);
	    background-repeat: no-repeat;
        background-position-x: 1px;
    padding-left: 33px !important;
    background-size: 20px 20px;
    padding: 10px;
    background-position-y: 10px;
    background-position-x: 4px;
}
header.header-transparent:not(.mega-hover) nav#main-nav > ul > li > a:hover
{
  color:#b28324;
}
.listing_image  
{
	    float: left;
    padding-right: 13px;
    width: 150px;
    height: 106px;
}
.star-reviews-listing
{
	    
		color: #b57a24;
    font-size: 22px;
}
.total-reviews
{
    font-size: 13px;
}
.avg-review
{
	    font-size: 22px;
    font-weight: bold;
    color: #b57a24;
}
.detail-part img
{
	 width: 100%;
}
.detail-part
{
    padding: 30px;
}
.cover-image
{
	POSITION: absolute;
    LEFT: 100px;
    top: 63px;
}